<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611395345014-h1h06c3qqq8mpspbkh4ighpce8hlfi2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611395345014-h1h06c3qqq8mpspbkh4ighpce8hlfi2r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611395345014-1mgi9b6fib34ce3p90l2pmfd5mqpb266.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBNZtvoEuSnpK65hWCpA6fyoEILyiCBQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>611395345014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sunen.Admin</string>
	<key>PROJECT_ID</key>
	<string>sunen-292411</string>
	<key>STORAGE_BUCKET</key>
	<string>sunen-292411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611395345014:ios:85191625392825e7de9d57</string>
	<key>DATABASE_URL</key>
	<string>https://sunen-292411.firebaseio.com</string>
</dict>
</plist>